<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NeuroVigil Upload Portal : Incompatible Browser</title>

<link rel="stylesheet" type='text/css' href="/static/admin/css/base.css">
</head>

<body style="padding:30px; background-color:black; width:700px">

    <img src="/static/admin/img/nv-logo.jpg" width="700" alt="NeuroVigil Logo">
    <h3>This Neurovigil Upload Portal does not currently support Internet Explorer</h3>
    <p>Please use <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, 
        <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>, or
        <a href="http://www.opera.com/download">Opera</a>
    </p>
    <p>For those who cannot use Firefox, Chrome or Opera, ask about our Upload Manager
        that will compress and upload your files without a browser.
    </p>

</body>


</html>
